<template>
  <div class="demo">
    <div class="autosuggest-container">
      <vue-autosuggest
                v-model="query"
                :class="'autosuggest_parent_container normal-mode'"
                :suggestions="autoSuggest.filteredOptions"
                :input-props="autoSuggest.inputProps"
                @selected="autoSuggestOnSelect"
                @input="autoSuggestOnInputChange"
                @click="autoSuggestOnSelect"
                @change="autoSuggestChange"
                :limit="autoSuggest.limit"
                @keyup.prevent="search($event)"
      >
            <template slot-scope="{suggestion}">
                <span class="my-suggestion-item">{{suggestion.item.name}}</span>
            </template>
        </vue-autosuggest>
    </div>
        <div v-if="selected" style="padding-top:10px; width: 100%;">
      You have selected <code>{{selected.name}}, the {{selected.race}}</code>
    </div>
  </div>
</template>
 
<script>
import { VueAutosuggest } from "vue-autosuggest";
export default {
name: 'AutoSuggest',
 props:{
     searchOptions: {
        type: Array,
        required: true,
    },
    searchPlaceholder: {
        type: 'String',
        required: false
    },
    searchSuggestLimit:{
        type:Number,
        required: false
    }
 },
  components: {
    VueAutosuggest
  },
  data() {
    return {
      searchInput: '',
      autoSuggest: {
                    selected: '',
                    filteredOptions: [{
                        data: []
                    }],
                    options: [{
                        data: []
                    }],
                    inputProps: {
                        id: 'autosuggest__input',
                        onInputChange: this.autoSuggestOnInputChange,
                        placeholder: 'Enter keyword...',
                        onclick: 'this.select();'
                    },
                    limit: 8
      },
      query: "",
      selected: ""
    };
  },
  computed: {
    filteredOptions() {
      return [
        { 
          data: this.suggestions[0].data.filter(option => {
            return option.name.toLowerCase().indexOf(this.query.toLowerCase()) > -1;
          })
        }
      ];
    }
  },
  methods: {

  autoSuggestChange(){

  },
    
/** Auto-suggest function **/
  autoSuggestOnSelect(option){
      this.autoSuggest.selected = option ? option.item : '';
      if(this.autoSuggest.selected){
          this.searchInput = this.autoSuggest.selected;
          this.search();
      }
  },
  /** Auto-suggest function **/
  autoSuggestOnInputChange(text) {       
      if(text === '' || text === undefined) {
          this.autoSuggest.filteredOptions = [{ data: [] }];
          this.searchInput = '';
          this.search();
          return;
      }      
      this.searchInput = text;
      if(this.autoSuggest.options[0].data) {
        const filteredData = this.autoSuggest.options[0].data.filter(item => {          
            return item.name.toLowerCase().indexOf(text.toLowerCase()) > -1;
        }).slice(0, this.autoSuggest.limit);
        
        this.autoSuggest.filteredOptions = [{
            data: filteredData
        }];
      }else{

      }
  },

  doFilter(value) {
      this.sort = false;
      this.$emit('displayFilter', value);
  },
  doSort(value) {
      if(this.sort)
          this.$emit('sort', value);
      this.sort = true;
  },
  doSearch() {
      // set default event to emit
      let emit = 'search';
      //emit
      this.$emit(emit, this.term);

      /**
       * Always set the current page to 1 when making queries.
       * This is to avoid rendering issue on the datatable and pagination.
       */
      this.$emit('page', 1);
  },
  search(event) {

      this.autoSuggest.options = [{
        data: this.searchOptions
    }];
    // this.autoSuggest.inputProps.placeholder = this.searchPlaceholder;
    this.autoSuggest.limit = this.searchSuggestLimit;

      if(event){
          if (event.keyCode != 13 && event.keyCode != 8 && event.keyCode != 46) {
              return;
          }
          if((event.keyCode == 8 || event.keyCode == 46) && this.searchInput){
              return;
          }
      }
    
      this.term = this.searchInput;
      if (this.timeOut != null) {
          this.isTyping = false;
          clearTimeout(this.timeOut);
          this.timeOut = null;
      }
      if (!this.isTyping) {
          this.timeOut = setTimeout(this.doSearch, 300);
      }
  },

  searchAsync(event) {

      this.autoSuggest.options = [{
        data: this.searchOptions
    }];
    // this.autoSuggest.inputProps.placeholder = this.searchPlaceholder;
    this.autoSuggest.limit = this.searchSuggestLimit;

      if(event){
          if (event.keyCode != 13 && event.keyCode != 8 && event.keyCode != 46) {
              return;
          }
          if((event.keyCode == 8 || event.keyCode == 46) && this.searchInput){
              return;
          }
      }
    
      this.term = this.searchInput;
      if (this.timeOut != null) {
          this.isTyping = false;
          clearTimeout(this.timeOut);
          this.timeOut = null;
      }
      if (!this.isTyping) {
          this.timeOut = setTimeout(this.doSearch, 300);
      }
  },
  clearAdvancedSearch(){
     
    },
    clickHandler(item) {
      // event fired when clicking on the input
    },
    onSelected(item) {
      this.selected = item.item;
    },
    onInputChange(text) {
      // event fired when the input changes
      console.log(text)
    },
    /**
     * This is what the <input/> value is set to when you are selecting a suggestion.
     */
    getSuggestionValue(suggestion) {
      return suggestion.item.name;
    },
    focusMe(e) {
      console.log(e) // FocusEvent
    },
    created(){


    }
  }
}
</script> 
 
<style>

input {
  width: 100%;
  padding: 0.5rem;
}
 
div.autosuggest_parent_container ul {
  position: absolute;
  width: 98%;
  color: rgba(30, 39, 46,1.0);
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 .5rem 0;
  background:white;
  z-index: 1;
}
div.autosuggest-container li {
  margin: 0 0 0 0;
  border-radius: 5px;
  padding: 0.75rem 0 0.75rem 0.75rem;
  display: flex;
  align-items: center;
}
div.autosuggest-container li:hover {
  cursor: pointer;
}
 
.autosuggest-container {
  display: flex;
  justify-content: center;
  width: 98%;
}
 
#autosuggest { width: 100%; display: block;}
.autosuggest__results-item--highlighted {
  background-color: rgba(51, 217, 178,0.2);
}
</style> 