npm <template>
<div>
  <CCard>
      <CCardBody>
        <div class="container">

        </div>
            <div class="row">
              <div class="col-md-8">
                  <div class="demo">
                            <div class="autosuggest-container">
                              <vue-autosuggest
                                        name="Search"
                                        v-model="query"
                                        ref="SearchExplore" 
                                        :class="'autosuggest_parent_container normal-mode'"
                                        :suggestions="autoSuggest.filteredOptions"
                                        :input-props="autoSuggest.inputProps"
                                        @selected="autoSuggestOnSelect"
                                        @input="autoSuggestOnInputChange"
                                        @click="autoSuggestOnSelect"
                                        :limit="autoSuggest.limit"
                                        @keyup.prevent="search($event)">
                                    <template slot-scope="{suggestion}">
                                        <span class="my-suggestion-item">{{suggestion.item.name}}</span>
                                    </template>
                                </vue-autosuggest>
                            </div>
                    <div v-if="selected" style="padding-top:10px; width: 100%;">
                  You have selected <code>{{selected.name}}, the {{selected.race}}</code>
                </div>
              </div>
              </div> 
              <div class="col-md-2">
                <select name="SearchBy" class="form-control" @change="changeSearchBy">
                    <option value="state">State</option>
                    <option value="county">County</option>
                    <option value="city">City/Place</option>
                </select>
              </div>       
              <div class="col-md-2">
                  <button class="btn btn-primary pull-right" @click.self.prevent="exportFile">Export</button>
              </div>
            </div>       
      </CCardBody>
    </CCard>

    <CCard v-if="autoSuggest.selected!==''">    
      <CCardBody>
          <div class="row">
          <div class="col-md-12 font-weight-bold bg-info text-center p-2 text-white"><h3>{{autoSuggest.selected.name}}</h3></div>
        </div>
        <div class="row">
          <div class="col-md-12 demo-nav">
                <div class="multi-level">
                            <div class="item" v-if="dataResponse.sexAge!==''">
                                <input type="checkbox" id="A"/>
                                <img src="img/Arrow.png" class="arrow"><label for="A">Sex And Age</label> 
                                <div class="row item-details">
                                  <div class="col-md-12">
                                      <table class="table table-striped table-hover">
                                          <tr>
                                            <td width="30%">Total Population</td>
                                            <td>{{population.over_all_population}}</td>
                                          </tr>  
                                          <tr>
                                            <td>Total Male Population</td>
                                            <td>{{population.over_all_pop_m}}</td>
                                          </tr>   
                                          <tr>
                                            <td>Total Female Population</td>
                                            <td>{{population.over_all_pop_f}}</td>
                                          </tr>                                                                         
                                      </table>
                                        <table class="table table-striped table-hover">
                                          <thead>
                                              <tr>   
                                                   <th width="30%">&nbsp;</th>
                                                  <th>Population</th>
                                                  <th>Male</th>
                                                  <th>Female</th>
                                              </tr>
                                          </thead>                                          
                                          <tr v-for="age in dataResponse.sexAge" :key="age.id">
                                            <td>{{age.age_category}}</td>
                                            <td>{{age.total_population}}</td>
                                            <td>{{age.total_pop_m}}</td>
                                            <td>{{age.total_pop_f}}</td>
                                          </tr>                                                     
                                      </table>
                                  </div>
                                </div>
                            </div>
                            <div class="item" v-if="dataResponse.race!==''">
                                <input type="checkbox" id="B"/>
                                <img src="img/Arrow.png" class="arrow"><label for="B">Race</label>
                                 <div class="row item-details">
                                      <div class="col-md-12">
                                      <table class="table table-striped table-hover">                                          
                                          <tr v-for="race in dataResponse.race" :key="race.id">
                                            <td width="30%">{{race.name}}</td>
                                            <td>{{race.population}}</td>                                            
                                          </tr>                                                                             
                                      </table>
                                  </div>
                                </div>            
                            </div>
                              <div class="item" v-if="dataResponse.bpov!==''">
                                <input type="checkbox" id="C"/>
                                <img src="img/Arrow.png" class="arrow"><label for="C">Race Below Poverty Level</label>
                                 <div class="row item-details">
                                      <div class="col-md-12">
                                      <table class="table table-striped table-hover">
                                        <tr v-for="bpov_race in dataResponse.bpov" :key="bpov_race.id">
                                            <td width="30%">{{bpov_race.name}}</td>
                                            <td>{{bpov_race.population}}</td>                                            
                                        </tr>                              
                                      </table>
                                  </div>
                                </div>
            
                            </div>
                             <div class="item" v-if="dataResponse.efield!==''">
                                <input type="checkbox" id="D"/>
                                <img src="img/Arrow.png" class="arrow"><label for="D">Race Educational Attainment By Field</label>
                                 <div class="row item-details">
                                      <div class="col-md-12">
                                      <table class="table table-striped table-hover">
                                          <tr v-for="field in dataResponse.efield" :key="field.id">
                                            <td width="30%">{{field.race}}</td>
                                            <td width="30%">{{field.name}}</td>
                                            <td>{{field.population}}</td>                                            
                                        </tr>                                 
                                      </table>
                                  </div>
                                </div>
            
                            </div>
                        </div>
          </div>
          <div class="col-md-6 font-weight-bold"></div>
        </div>
      </CCardBody>      
    </CCard>
</div>
</template>
 
<script>
import { VueAutosuggest } from "vue-autosuggest";
import { mapActions, mapGetters } from 'vuex';
export default {
name: 'AutoSuggest',
  components: {
    VueAutosuggest
  },
  data() {
    return {
      searchCategory:'',
      dataResponse:{
            'sexAge':[],
            'bpov':[],
            'race':[],
            'efield':[],
      },
      popByAgeData:[],
      popBpovData:[],
      popEduFieldData:[],
      popRaceData:[],
      population:{'over_all_population':0,'over_all_pop_m':0,'over_all_pop_f':0},
      totalPopulation:0,
      searchSuggestLimit:11,
      searchByOptions:'state',
      searchOptions:[],
      searchInput: '',
      autoSuggest: {
                    selected: '',
                    filteredOptions: [{
                        data: []
                    }],
                    options: [{
                        data: []
                    }],
                    inputProps: {
                        id: 'autosuggest__input',
                        onInputChange: this.autoSuggestOnInputChange,
                        placeholder: 'Search',
                        onclick: 'this.select();'
                    },
                    limit: 8
      },
      query: "",
      selected: ""
    };
  },
  computed: {
    filteredOptions() {
      return [
        { 
          data: this.suggestions[0].data.filter(option => {
            return option.name.toLowerCase().indexOf(this.query.toLowerCase()) > -1;
          })
        }
      ];
    },
    ...mapGetters({        
        meta:'explore/meta',        
        exploreData:'explore/data',
        state_info:'pop_age_states/data',
        county_info:'pop_age_counties/data',
        city_info:'pop_age_cities/data',
        race_state_info:'race_by_state/data',
        race_county_info:'race_by_county/data',
        race_city_info:'race_by_city/data',
        race_bpov_state:'race_bpov_state/data',
        race_bpov_county:'race_bpov_county/data',
        race_bpov_city:'race_bpov_city/data',
        race_edu_field_state:'race_edu_field_state/data',
        race_edu_field_county:'race_edu_field_county/data',
        race_edu_field_city:'race_edu_field_city/data',
    })
  },
  methods: {
    ...mapActions({
        getExploreData: 'explore/getExploreResult',
        getPopByAgeStates : 'pop_age_states/getPopByAgeStates',
        getPopByAgeCounties : 'pop_age_counties/getPopByAgeCounties',
        getPopByAgeCities : 'pop_age_cities/getPopByAgeCities',
        getPopRaceStates:'race_by_state/getPopRaceState',
        getPopRaceCounties:'race_by_county/getPopRaceCounty',
        getPopRaceCities:'race_by_city/getPopRaceCity',
        getPopBpovRaceStates:'race_bpov_state/getPopBpovRaceStates',
        getPopBpovRaceCounties:'race_bpov_county/getPopBpovRaceCounties',
        getPopBpovRaceCities:'race_bpov_city/getPopBpovRaceCities',
        getPopEduFieldRaceStates:'race_edu_field_state/getPopEduFieldRaceStates',
        getPopEduFieldRaceCounties:'race_edu_field_county/getPopEduFieldRaceCounties',
        getPopEduFieldRaceCities:'race_edu_field_city/getPopEduFieldRaceCities',
    }),
    changeSearchBy(){

    },
/** Auto-suggest function **/
  autoSuggestOnSelect(option){    
      this.autoSuggest.selected = option ? option.item : '';      
      if(this.autoSuggest.selected){
          this.selectLocation();
          this.searchInput = this.autoSuggest.selected;
          this.search();
      }
  },
  /** Auto-suggest function **/
  autoSuggestOnInputChange(text) {     
      if(text === '' || text === undefined) {
          this.autoSuggest.filteredOptions = [{ data: [] }];
          this.searchInput = '';
          return;
      }            
      this.searchInput = text;
      this.searchAsync(text);
      if(this.autoSuggest.options[0].data) {
        const filteredData = this.autoSuggest.options[0].data.filter(item => {          
            return item.name.toLowerCase().indexOf(text.toLowerCase()) > -1;
        }).slice(0, this.autoSuggest.limit);
        
        this.autoSuggest.filteredOptions = [{
            data: filteredData
        }];
      }else{

      }
  },
  exportFile(){
      if(
          !_.isEmpty(this.dataResponse.sexAge) || 
          !_.isEmpty(this.dataResponse.bpov)   || 
          !_.isEmpty(this.dataResponse.efield)
         ){
              var a = document.createElement("a");
              var file = new Blob([JSON.stringify(this.dataResponse, null, 4)], {type: 'text/plain'});
              a.href = URL.createObjectURL(file);
              a.download = this.searchByOptions+'.json';   
              a.click();           
      }      
  },
  async selectLocation(){
      this.dataResponse.sexAge = [];
      this.dataResponse.bpov = [];
      this.dataResponse.race = [];
      this.dataResponse.efield = [];
      this.population.over_all_population=0;
      this.population.over_all_pop_f=0;
      this.population.over_all_pop_m=0;
        switch(this.searchByOptions){
           case 'state':
             await this.getPopByAgeStates({query:{'id':this.autoSuggest.selected.id}});
             this.dataResponse.sexAge = this.state_info;
             await this.getPopRaceStates({query:{'id':this.autoSuggest.selected.id}});                                  
             this.dataResponse.race = this.race_state_info;
             await this.getPopBpovRaceStates({query:{'id':this.autoSuggest.selected.id}});                                  
             this.dataResponse.bpov = this.race_bpov_state; 
             await this.getPopEduFieldRaceStates({query:{'id':this.autoSuggest.selected.id}});                                  
             this.dataResponse.efield = this.race_edu_field_state;
           break;
           case 'county':
              await this.getPopByAgeCounties({query:{'id':this.autoSuggest.selected.id}});
              this.dataResponse.sexAge = this.county_info;
              await this.getPopRaceCounties({query:{'id':this.autoSuggest.selected.id}});                                  
              this.dataResponse.race = this.race_county_info;             
              await this.getPopBpovRaceCounties({query:{'id':this.autoSuggest.selected.id}});                                  
              this.dataResponse.bpov = this.race_bpov_county;
              await this.getPopEduFieldRaceCounties({query:{'id':this.autoSuggest.selected.id}});                                  
              this.dataResponse.efield = this.race_edu_field_county; 
           break;
           case 'city':
              await this.getPopByAgeCities({query:{'id':this.autoSuggest.selected.id}});
              this.dataResponse.sexAge = this.city_info;
              await this.getPopRaceCities({query:{'id':this.autoSuggest.selected.id}});                                  
              this.dataResponse.race = this.race_city_info;       
              await this.getPopBpovRaceCities({query:{'id':this.autoSuggest.selected.id}});                                  
              this.dataResponse.bpov = this.race_bpov_city;
              await this.getPopEduFieldRaceCities({query:{'id':this.autoSuggest.selected.id}});                                  
              this.dataResponse.efield = this.race_edu_field_city; 
           break;
        }
        if(!_.isEmpty(this.dataResponse.sexAge[0])){
          this.population.over_all_population=this.dataResponse.sexAge[0].over_all_population;
          this.population.over_all_pop_f=this.dataResponse.sexAge[0].over_all_total_f;
          this.population.over_all_pop_m=this.dataResponse.sexAge[0].over_all_total_m;
        }          
  },
  async searchAsync(search_value){
      await this.getExploreData( {query:{'search':search_value,'searchBy':this.searchByOptions}});
      let selectOptions = [];
      _.map(this.exploreData,function(result){
          selectOptions.unshift({id: result.id, name: result.name});             
      });
      this.searchOptions = selectOptions;
  },
  doFilter(value) {
      this.sort = false;
      this.$emit('displayFilter', value);
  },
  doSort(value) {
      if(this.sort)
          this.$emit('sort', value);
      this.sort = true;
  },
  doSearch() {
      // set default event to emit
      let emit = 'search';
      //emit
      this.$emit(emit, this.term);

      /**
       * Always set the current page to 1 when making queries.
       * This is to avoid rendering issue on the datatable and pagination.
       */
      this.$emit('page', 1);
  },
  search(event) {

    this.autoSuggest.options = [{
        data: this.searchOptions
    }];

    // this.autoSuggest.inputProps.placeholder = this.searchPlaceholder;
    this.autoSuggest.limit = this.searchSuggestLimit;

      if(event){
          if (event.keyCode != 13 && event.keyCode != 8 && event.keyCode != 46) {
              return;
          }
          if((event.keyCode == 8 || event.keyCode == 46) && this.searchInput){
              return;
          }
      }
    
      this.term = this.searchInput;
      if (this.timeOut != null) {
          this.isTyping = false;
          clearTimeout(this.timeOut);
          this.timeOut = null;
      }
      if (!this.isTyping) {
          this.timeOut = setTimeout(this.doSearch, 300);
      }
  },    
    /**
     * This is what the <input/> value is set to when you are selecting a suggestion.
     */
    getSuggestionValue(suggestion) {
      return suggestion.item.name;
    },
    clearState(){
        document.getElementsByName("Search")[0].value='';
        this.autoSuggest.selected='';
        this.selectOptions=[];
        console.log('clear!');
        this.$refs.SearchExplore.searchInput='';
        this.autoSuggest.options = [{
           data: []
        }];
    },
    changeSearchBy(event){
      this.searchByOptions=event.target.value;
      this.clearState();
    },
  }
}
</script> 
 
<style>

input {
  width: 100%;
  padding: 0.5rem;
}
 
div.autosuggest_parent_container ul {
  position: absolute;
  width: 98%;
  color: rgba(30, 39, 46,1.0);
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 .5rem 0;
  background:white;
  z-index: 1;
}
div.autosuggest-container li {
  margin: 0 0 0 0;
  border-radius: 5px;
  padding: 0.75rem 0 0.75rem 0.75rem;
  display: flex;
  align-items: center;
}
div.autosuggest-container li:hover {
  cursor: pointer;
}
 
.autosuggest-container {
  display: flex;
  justify-content: center;
  width: 98%;
}
 
#autosuggest { width: 100%; display: block;}
.autosuggest__results-item--highlighted {
  background-color: rgba(51, 217, 178,0.2);
}
</style> 