<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        :pagination="false"
        items-per-page-select
        hover
        striped
        sorter
        :items="items"
        :fields="fields"
        :items-per-page="25"
        :active-page="activePage"
        :loading="loading"
      >
      <template #status="data">
          <td>{{ data.item.id }}</td>          
          <td>{{ data.item.name }}</td>
          <!-- <td>{{ data.item.currAcsPop }}</td> -->
          <td>{{ data.item.state }}</td>
          <td>{{ data.item.lat }}</td>
          <td>{{ data.item.lng }}</td>
          <td>{{ data.item.ne_lat }}</td>
          <td>{{ data.item.ne_lng }}</td>
          <td>{{ data.item.sw_lat }}</td>
          <td>{{ data.item.sw_lng }}</td>>
        </template>
      </CDataTable>
        <template>
          <div>
            <input type="hidden" id="page_num" :value="page" >
            <CPagination
              :activePage.sync="page"
              :pages="paginationVar.total_pages"              
            />
          </div>
        </template>        
    </CCardBody>
  </CCard>
</template>

<script>
import DataTableMixin from '@/common/mixin/DataTableMixin';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'Cities',
  data(){
        	let sortOrder = {},
			        sortKey = 'name',
	             columns = [
                        { key: 'id', label: 'ID'},            
                        { key: 'name', label: 'Name',sortKey:'name', _classes: 'font-weight-bold' ,sorter: true, filter: true},        
                        // { key: 'currAcsPop', label: 'Population',sortKey:'current_acs_population',_classes: 'font-weight-bold' },       
                        { key: 'state',label: 'State',_classes: 'font-weight-bold'},
                        { key: 'lat', label: 'lat' },
                        { key: 'lng', label: 'lng' },
                        { key: 'ne_lat', label:'NE Lat' },
                        { key: 'ne_lng', label:'NE Lng'},
                        { key: 'sw_lat', label:'SW Lat'},
                        { key: 'sw_lng', label:'SW Lng'}         
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
          page: 1,
          pagesLinks:[],
          loading:false,
          items:[],
          fields:columns,
          caption: 'Cities',
          hover: true,
          striped: true,
          bordered: true,
          dark: false,
          sortKey:sortKey,
          sortOrder:sortOrder,
          paginationVar: {},
          total_pages:0,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
        states: [],
          activePage: 1
			}
  },
  async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
      this.setPaginationLimit(25);
      this.loading=true;      
      await this.getCities( {query: _.merge(this.getParams())});
      this.loading=false;
      this.items = this.city_info;  
      this.paginationVar = this.meta.pagination
      this.setPagination(this.meta.pagination);	
      let params = this.getParams();
      this.addClickEventOnPagination();
      this.addEventOnDataTableInputElement
  },
  mounted:function(){
    
  },
  computed: {
    ...mapGetters({        
        meta:'cities/meta',
        categories: 'cities/formatted',
        city_info:'cities/data'
    }),
  },
  methods: {
  ...mapActions({
				getCities: 'cities/getCities',
      }),
    addClickEventOnPagination:function(){
          let _this = this;
          let pages = document.getElementsByClassName("page-item");  
        Array.from(pages).forEach(function(element) {          
          _this.addClickEvent(element);
      });
    },
  addEventOnDataTableInputElement(){
      let 
          _this = this,
          inputElements  = document.getElementsByClassName("form-control"),
          currParams = this.getParams();
  
        _.map(inputElements,function( element){
                    switch(element.type){
                        case 'text':                     
                          element.removeEventListener('change');
                          element.addEventListener('change',function(){
                                currParams.search = element.value;
                                _this.changeSearchAndLimit(params);                
                          }); 
                            
                        break;
                        case 'select-one':                            
                            element.addEventListener('change',function(){
                                currParams.take = element.value;
                                _this.changeSearchAndLimit(currParams);                
                          }); 
                        break;
                    }                    
        });
    },
    async changePage(){
      let  params = this.getParams();
           params.page = document.getElementById('page_num').value;
           this.loading=true;
           await this.getCities( {query: _.merge(params)});
           this.loading=false;
           this.items = this.city_info;  
           this.paginationVar = this.meta.pagination
           this.setPagination(this.meta.pagination);	
    },
    async changeSearchAndLimit(params = {}){
      let  currParams = this.getParams();
           if(!_.isEmptyObject(params.search)){
              currParams.search = params.search;
           }
            if(!_.isEmptyObject(params.take)){
              currParams.take = params.take;
           }
           this.loading=true;
           await this.getCities( {query: _.merge(currParams)});
           this.loading=false;
           this.items = this.city_info;  
           this.paginationVar = this.meta.pagination
           this.setPagination(this.meta.pagination);	
    },
    addClickEvent:function(element){
      let _this = this;
      element.addEventListener('click',function(){
         _this.changePage();
      })
    }
  },
    mixins: [
        DataTableMixin
    ]
}
</script>
