<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        items-per-page-select
        hover
        striped
        sorter
        :items="items"
        :fields="fields"
        :items-per-page="15"
        :active-page="activePage"
        :pagination="config.pagination"
        :loading="loading"
      >
      >
      <template #status="data">
          <td>{{ data.item.id }}</td>          
          <td>{{ data.item.name }}</td>
          <!-- <td>{{ data.item.currAcsPop }}</td> -->
          <td>{{ data.item.state }}</td>
          <td>{{ data.item.lat }}</td>
          <td>{{ data.item.lng }}</td>
          <td>{{ data.item.ne_lat }}</td>
          <td>{{ data.item.ne_lng }}</td>
          <td>{{ data.item.sw_lat }}</td>
          <td>{{ data.item.sw_lng }}</td>>
        </template>
      </CDataTable>
           <template>
          <div>
            <input type="hidden" id="page_num" :value="page" >
            <CPagination
              :activePage.sync="page"
              :pages="paginationVar.total_pages"              
            />
          </div>
        </template>
    </CCardBody>
  </CCard>
</template>

<script>
import DataTableMixin from '@/common/mixin/DataTableMixin';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'Counties',
  data(){
        	let sortOrder = {};
			let sortKey = 'name';
	        let columns = [
                          { key: 'id', label: 'ID'},            
                          { key: 'name', label: 'Name', sortKey:'name',_classes: 'font-weight-bold', },    
                          // { key: 'currAcsPop', label: 'Population',sortKey:'current_acs_population',_classes: 'font-weight-bold' },        
                          { key: 'state',label: 'State',_classes: 'font-weight-bold'},
                          { key: 'lat', label: 'lat' },
                          { key: 'lng', label: 'lng' },
                          { key: 'ne_lat', label:'NE Lat' },
                          { key: 'ne_lng', label:'NE Lng'},
                          { key: 'sw_lat', label:'SW Lat'},
                          { key: 'sw_lng', label:'SW Lng'}            
                        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
          page:1,
          loading:false,
          items:[],
          fields:columns ,
          caption: 'Counties',
          hover: true,
          striped: true,
          bordered: true,
          dark: false,
          sortKey:sortKey,
          sortOrder:sortOrder,
          paginationVar: {},
          total_pages:0,          
          open: false,
				data: {
					columns:columns,
					rows: []
				},
        states: [],
          activePage: 1
			}
  },
    async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
      this.setPaginationLimit(15);
      this.loading=true;      
      await this.getCounties( {query: _.merge(this.getParams())});
      this.loading=false;
      this.items = this.county_info;  
      this.paginationVar = this.meta.pagination
      this.setPagination(this.meta.pagination);	
      let params = this.getParams();
      this.addClickEventOnPagination();
  },
  computed: {
    ...mapGetters({        
        meta:'counties/meta',
        categories: 'counties/formatted',
        county_info:'counties/data',
    })
  },
  methods: {
  ...mapActions({
				getCounties: 'counties/getCounties',
      }),
       addClickEventOnPagination:function(){
          let _this = this;
          let pages = document.getElementsByClassName("page-item");  
        Array.from(pages).forEach(function(element) {          
          _this.addClickEvent(element);
      });
    },
      addClickEvent:function(element){
      let _this = this;
      element.addEventListener('click',function(){
         _this.changePage();
      })
    },
      async changePage(){
      let  params = this.getParams();
           params.page = document.getElementById('page_num').value;
           this.loading=true;
           await this.getCounties( {query: _.merge(params)});
           this.loading=false;
           this.items = this.county_info;  
           this.paginationVar = this.meta.pagination
           this.setPagination(this.meta.pagination);	
    },
  },
    mixins: [
        DataTableMixin
    ]
}
</script>
