<template>
  <div>    
    <ExploreAutoSuggest></ExploreAutoSuggest>
  </div>
</template>
<style>
.multi-level, .item div.item-details, .demo-nav input[type="checkbox"] {
    display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ div.item-details{
    display: block;
}
/*Func*/
.multi-level{
    display:block;
}
/*Arrow*/
.item-details{
  padding-left:3%;
}
.multi-level .arrow {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}
.item input +  .arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
}
.item input:checked +  .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}



/*Styles*/

.multi-level label:hover {
    cursor: pointer;
}
.multi-level label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
    font-weight: bold;
}
.demo-nav {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: white;
    background-color: #F44336;
}

.demo-nav ul, .demo-nav li, label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}
.item ul {
    padding: 0 0.25em;
}
.demo-nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
}

.table-cls {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.table-row {
  width: 100%;  
  min-height:4vw;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.table-header {
  font-weight: bold;
}

.table-row div:first-child {
  width: 10% !important;
}

.table-row-column {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
<script>
import ExploreAutoSuggest from '@/components/base/ExploreAutoSuggest';
export default {
  name: 'Dashboard',
  components:{
    ExploreAutoSuggest
  }
}
</script>
