<template>
  <CContainer class="d-flex content-center min-vh-100">
    <CRow>
      <CCol>
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm v-on:submit.prevent="onSubmit">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                 <CAlert id="msg" class="over-ride-padding">
                </CAlert>
                <CInput
                  name="email"
                  placeholder="Email"
                  autocomplete="email"
                  required="required"
                  v-model="loginForm.email"
                  type="email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  name="pass"
                  placeholder="Password"
                  type="password"
                  autocomplete="curent-password"
                  v-model="loginForm.pass" 
                  v-on:keyup.enter="login"
                  required="required"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CRow>
                  <CCol col="6" class="text-left">
                    <CButton color="primary" class="px-4"  v-on:click.self="login">Login</CButton>
                  </CCol>
                  
                </CRow>
              </CForm>
            </CCardBody>
          </CCard>
          <CCard
            color="primary"
            text-color="white"
            class="text-center py-5 d-sm-down-none"
            body-wrapper
          >
            <h2>Sign up</h2>
            <p>Register to access Healthcare App.</p>
            <CButton
              color="primary"
              class="active mt-3" v-on:click.self="redirectToRegister"
            >
              Register Now!
            </CButton>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</template>
<style>
  .custom_label{
      border:0px !important;
      background:none !important;
  }
  .over-ride-padding{
    padding:0px !important;
  }
</style>
<script>
import OAuth from '@/common/oauth/OAuth';
import { User } from '@/common/model/User';
import defineAbilityFor from '@/common/oauth/ability';
import jQuery from 'jquery';
import _ from 'lodash';
import { required, minLength } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex';

export default {
  name: 'Login',
  data(){      
       return {  
            showError:0,
            error: '',
            loading: false,
            loginForm: {
                email: '',
                pass: ''
            }
        }
  },  
    created() {
        let $ = jQuery;
        $(document).ready(function() {
            localStorage.removeItem('vuex');
        });
    },
    methods: {
        ...mapActions({
            setAuth : 'auth/setAuthData'            
        }),
         validEmail: function (email) {
          var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        },
        login() {   
  
         let errors = [];

          if (!this.loginForm.email) {
            errors.push('<label class="font-weight-bold form-control custom_label text-danger">Email required.</label>');
          } else if (!this.validEmail(this.loginForm.email)) {
            errors.push('<label class="font-weight-bold custom_label text-danger">Valid email required.</label>');
          }
          if (!this.loginForm.pass) {
            errors.push('<label class="font-weight-bold custom_label text-danger">Password required.</label>');
          }          
          this.showErrorMessage(errors);
          if( errors.length==0){
              OAuth.authenticate(this.loginForm).then(response => {
                if (response == true) {
                    this.setAuth(response);
                    this.$router.push({ name: 'Dashboard' })
                } else { 
                    this.showErrorMessage(['<label class="font-weight-bold form-control custom_label text-danger">Incorrect Email/Password</label>']);
                }
            },function(){
              
            }); 
          }                    
        },
        showErrorMessage(errors){
          if(errors.length > 0){
            document.getElementById('msg').innerHTML=errors.length ? _.join(errors,''):'';document.getElementById('msg').classList.add("alert-danger");
            setTimeout(function(){ document.getElementById('msg').innerHTML='';document.getElementById('msg').classList.remove("alert-danger"); }, 3000);
          }          
        },
        redirectToRegister(){
          this.$router.push({ name: 'Register' });
        }
    }
}
</script>
