<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        table-filter
        items-per-page-select
        hover
        striped
        sorter
        :items="items"
        :fields="fields"
        :items-per-page="25"
        :active-page="activePage"
        :pagination="{ doubleArrows: false}"
      >
      <template #status="data">     
          <td>{{ data.item.name }}</td>
          <td>{{ data.item.population }}</td>
          <td>{{ data.item.acsYear }}</td>          
        </template>
      </CDataTable>
    </CCardBody>
  </CCard>
</template>

<script>
import DataTableMixin from '@/common/mixin/DataTableMixin';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'States',
  data(){
        	let sortOrder = {};
			    let sortKey = 'name';
	        let columns = [
                        { key: 'name', label: 'Name', _classes: 'font-weight-bold' ,sortKey:'name'},
                        { key: 'population', label: 'Population',_classes: 'font-weight-bold' },
                        { key: 'acsYear', label: 'American Survey Year'}                        
                      ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
          items:[],
          fields: columns,
          caption: 'Population By State',
          hover: true,
          striped: true,
          bordered: true,
          dark: false,
          sortKey:sortKey,
          sortOrder:sortOrder,
          limit: 10,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
        states: [],
          activePage: 1
			}
  },
  async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			this.setPaginationLimit(999);
      await this.getPopByState({query: _.merge(this.getParams(), {take: 999})});
      this.items = this.state_info;
  },
  computed: {
    ...mapGetters({        
        meta:'pop_by_states/meta',
        categories: 'pop_by_states/formatted',
        state_info:'pop_by_states/data',
    })
  },
  methods: {
  ...mapActions({
				getPopByState: 'pop_by_states/getPopState',
			})
  },
    mixins: [
        DataTableMixin
    ]
}
</script>
