<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        table-filter
        items-per-page-select
        hover
        striped
        sorter
        :items="items"
        :fields="fields"
        :items-per-page="25"
        :active-page="activePage"
        :pagination="config.pagination"
        :loading="loading"
      >
      >
      <template #status="data">
          <td>{{ data.item.id }}</td>          
          <td>{{ data.item.county }}</td>
          <td>{{ data.item.state }}</td>
          <td>{{ data.item.population }}</td>
          <td>{{ data.item.acsYear}}</td>
        </template>
      </CDataTable>
    </CCardBody>
  </CCard>
</template>

<script>
import DataTableMixin from '@/common/mixin/DataTableMixin';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'popByCounty',
  data(){
        	let sortOrder = {};
			    let sortKey = 'county';
	        let columns = [
                            { key: 'id', label: 'ID'},
                            { key: 'county', label: 'Name', _classes: 'font-weight-bold' ,sortKey:'county'},
                            { key: 'state', label: 'State', _classes: 'font-weight-bold' },
                            { key: 'population', label: 'Population',classes: 'font-weight-bold'},
                            { key: 'acsYear', label: 'American Survey Year'}            
                        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
          loading:false,
          items:[],
          fields:columns ,
          caption: 'Population By County',
          hover: true,
          striped: true,
          bordered: true,
          dark: false,
          sortKey:sortKey,
          sortOrder:sortOrder,
          limit: 10,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
        states: [],
          activePage: 1
			}
  },
  async created() {
      this.loading=true;
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);			
      await this.getCounties({query: _.merge(this.getParams(), {take: 999999999})});
      this.loading=false;
      this.items = this.county_info;
  },
  computed: {
    ...mapGetters({        
        meta:'pop_by_counties/meta',
        county_info:'pop_by_counties/data',
    })
  },
  methods: {
  ...mapActions({
				getCounties: 'pop_by_counties/getPopCounties',
			})
  },
    mixins: [
        DataTableMixin
    ]
}
</script>
