<template>
  <CCard>
    <CCardBody>
      <CDataTable
        items-per-page-select
        hover
        striped
        sorter
        :items="items"
        :fields="fields"
        :items-per-page="15"
        :active-page="activePage"
        :pagination="{ doubleArrows: false}"
        :loading="loading"
      >
      <template #status="data"> 
          <td>{{ data.item.county}}</td>     
          <td>{{ data.item.age_category}}</td>     
          <!-- <td>{{ data.item.total_pop_m}}</td>         
          <td>{{ data.item.total_pop_f}}</td>        -->
          <td>{{ data.item.total_population}}</td>     
        </template>
      </CDataTable>
        <template>
          <div>
            <input type="hidden" id="page_county_num" :value="page" >
            <CPagination
              :activePage.sync="page"
              :pages="paginationVar.total_pages"              
            />
          </div>
        </template>    
    </CCardBody>
  </CCard>
</template>

<script>
import DataTableMixin from '@/common/mixin/DataTableMixin';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'PopAgeByCounty',
  data(){
        	let sortOrder = {};
			    let sortKey = 'county';
	        let columns = [
                        { key: 'county', label: 'County', _classes: 'font-weight-bold' ,sortKey:'county'},
                        { key: 'age_category', label: 'Age Category', _classes: 'font-weight-bold'},
                        // { key: 'total_pop_m', label: 'Male', _classes: 'font-weight-bold'},
                        // { key: 'total_pop_f', label: 'Female', _classes: 'font-weight-bold'},
                        { key: 'total_population', label: 'Population', _classes: 'font-weight-bold'}
                      ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
          page: 1,
          pagesLinks:[],
          loading:false,
          items:[],
          fields:columns,
          caption: 'County',
          hover: true,
          striped: true,
          bordered: true,
          dark: false,
          sortKey:sortKey,
          sortOrder:sortOrder,
          paginationVar: {},
          total_pages:0,
          open: false,
				data: {
					columns:columns,
					rows: []
				},
        states: [],
          activePage: 1
			}
  },
  async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
      this.setPaginationLimit(15);
      this.loading=true;      
      await this.getPopByAgeCounties( {query: _.merge(this.getParams())});
      this.loading=false;
      this.items = this.county_info;  
      this.paginationVar = this.meta.pagination
      this.setPagination(this.meta.pagination);	
      let params = this.getParams();
      this.addClickEventOnPagination();
  },
  computed: {
    ...mapGetters({        
        meta:'pop_age_counties/meta',
        county_info:'pop_age_counties/data',
    })
  },
  methods: {
  ...mapActions({
				getPopByAgeCounties : 'pop_age_counties/getPopByAgeCounties',
      }),
      addClickEventOnPagination:function(){
          let _this = this;
          let pages = document.getElementsByClassName("page-item");  
        Array.from(pages).forEach(function(element) {          
          _this.addClickEvent(element);
      });
    },
      addClickEvent:function(element){
      let _this = this;
      element.addEventListener('click',function(){
         _this.changePage();
      })
    },
      async changePage(){
      let  params = this.getParams();
           params.page = document.getElementById('page_county_num').value;
           this.loading=true;
           await this.getPopByAgeCounties( {query: _.merge(params)});
           this.loading=false;
           this.items = this.county_info;  
           this.paginationVar = this.meta.pagination
           this.setPagination(this.meta.pagination);	
    },
  },
    mixins: [
        DataTableMixin
    ]
}
</script>
