<template>
  <CCard>
    <CCardBody>
      <CTabs variant="pills" :active-tab="0">
          <CTab title="State">
              <PopulationByAgeState></PopulationByAgeState>
          </CTab>
          <CTab title="County">
              <PopulationByAgeCounty></PopulationByAgeCounty>
          </CTab>
            <CTab title="City">
             <PopulationByAgeCity></PopulationByAgeCity>
          </CTab>
        </CTabs>
     </CCardBody>
</CCard>
</template>
<script>  
import PopulationByAgeState from '@/views/pages/PopulationByAgeState';
import PopulationByAgeCity from '@/views/pages/PopulationByAgeCity';
import PopulationByAgeCounty from '@/views/pages/PopulationByAgeCounty';
export default {
  name: 'PopulationByAge',
  components:{
    PopulationByAgeState,
    PopulationByAgeCity,
    PopulationByAgeCounty
  }
}
</script>
