<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        :pagination="false"
        table-filter
        items-per-page-select
        hover
        striped
        sorter
        :items="items"
        :fields="fields"
        :items-per-page="25"
        :active-page="activePage"
        :loading="loading"
      >
      <template #status="data">    
          <td>{{ data.item.city }}</td>
          <td>{{ data.item.state }}</td>
          <td>{{ data.item.population }}</td>
          <td>{{ data.item.acsYear }}</td>
        </template>
      </CDataTable>
        <template>
          <div>
            <input type="hidden" id="page_num" :value="page" >
            <CPagination
              :activePage.sync="page"
              :pages="paginationVar.total_pages"              
            />
          </div>
        </template>        
    </CCardBody>
  </CCard>
</template>

<script>
import DataTableMixin from '@/common/mixin/DataTableMixin';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'PopByCity',
  data(){
        	let sortOrder = {},
			        sortKey = 'city',
	             columns =[
                            { key: 'city', label: 'Name', _classes: 'font-weight-bold' ,sortKey:'city'},
                            { key: 'state', label: 'State' },
                            { key: 'population', label: 'Population',classes: 'font-weight-bold'},
                            { key: 'acsYear', label: 'American Survey Year'}            
                        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
          page: 1,
          pagesLinks:[],
          loading:false,
          items:[],
          fields:columns,
          caption: 'Population By City',
          hover: true,
          striped: true,
          bordered: true,
          dark: false,
          sortKey:sortKey,
          sortOrder:sortOrder,
          paginationVar: {},
          total_pages:0,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
        states: [],
          activePage: 1
			}
  },
  async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
      this.setPaginationLimit(25);
      this.loading=true;      
      await this.getPopByCities( {query: _.merge(this.getParams())});
      this.loading=false;
      this.items = this.city_info;  
      this.paginationVar = this.meta.pagination
      this.setPagination(this.meta.pagination);	
      let params = this.getParams();
      this.addClickEventOnPagination();
      this.addEventOnDataTableInputElement;
  },
  mounted:function(){
    
  },
  computed: {
    ...mapGetters({        
        meta:'pop_by_cities/meta',        
        city_info:'pop_by_cities/data'
    }),
  },
  methods: {
  ...mapActions({
				getPopByCities: 'pop_by_cities/getPopCities',
      }),
    addClickEventOnPagination:function(){
          let _this = this;
          let pages = document.getElementsByClassName("page-item");  
        Array.from(pages).forEach(function(element) {          
          _this.addClickEvent(element);
      });
    },
  addEventOnDataTableInputElement(){
      let 
          _this = this,
          inputElements  = document.getElementsByClassName("form-control"),
          currParams = this.getParams();
  
        _.map(inputElements,function( element){
                    switch(element.type){
                        case 'text':                     
                          element.removeEventListener('change');
                          element.addEventListener('change',function(){
                                currParams.search = element.value;
                                _this.changeSearchAndLimit(params);                
                          }); 
                            
                        break;
                        case 'select-one':                            
                            element.addEventListener('change',function(){
                                currParams.take = element.value;
                                _this.changeSearchAndLimit(currParams);                
                          }); 
                        break;
                    }                    
        });
    },
    async changePage(){
      let  params = this.getParams();
           params.page = document.getElementById('page_num').value;
           this.loading=true;
           await this.getPopByCities( {query: _.merge(params)});
           this.loading=false;
           this.items = this.city_info;  
           this.paginationVar = this.meta.pagination
           this.setPagination(this.meta.pagination);	
    },
    async changeSearchAndLimit(params = {}){
      let  currParams = this.getParams();
           if(!_.isEmptyObject(params.search)){
              currParams.search = params.search;
           }
            if(!_.isEmptyObject(params.take)){
              currParams.take = params.take;
           }
           this.loading=true;
           await this.getPopByCities( {query: _.merge(currParams)});
           this.loading=false;
           this.items = this.city_info;  
           this.paginationVar = this.meta.pagination
           this.setPagination(this.meta.pagination);	
    },
    addClickEvent:function(element){
      let _this = this;
      element.addEventListener('click',function(){
         _this.changePage();
      })
    }
  },
    mixins: [
        DataTableMixin
    ]
}
</script>
