<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm v-on:submit.prevent="onSubmit">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <CAlert id="msg" class="over-ride-padding">
                </CAlert>
                  <CInput
                  name="name"
                  placeholder="Name"
                  autocomplete="name"
                  required
                  prepend="@"
                   v-model="RegisterForm.name"
                />
                <CInput
                  name="email"
                  placeholder="Email"
                  autocomplete="email"
                  required
                  prepend="@"
                   v-model="RegisterForm.email"
                />
                <CInput
                  name="pass"
                  placeholder="Password"
                  type="password"
                  autocomplete="new-password"
                  required
                   v-model="RegisterForm.pass"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CInput
                 name="cpass"
                  placeholder="Repeat password"
                  type="password"
                  autocomplete="new-password"
                  class="mb-4"
                  v-model="RegisterForm.c_pass"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CButton color="success" block  v-on:click.self="register">Create Account</CButton>
                <CButton color="primary" block  v-on:click.self="redirectToLogin">Login</CButton>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
<style>
  .custom_label{
      border:0px !important;
      background:none !important;
  }
  .over-ride-padding{
    padding:0px !important;
  }
</style>
<script>
import OAuth from '@/common/oauth/OAuth';
import { User } from '@/common/model/User';
import defineAbilityFor from '@/common/oauth/ability';
import jQuery from 'jquery';
import _ from 'lodash';
import { mapActions } from 'vuex';

export default {
  name: 'Register',
  data(){
       return {  
            showError:0,
            error: '',
            loading: false,
            RegisterForm: {
                name: '',
                email: '',
                pass: '',
                c_pass: ''
            }
        }
  }, 
  methods: {
    clearRegistration(){
        document.getElementsByName('name').value='';
        document.getElementsByName('email').value='';
        document.getElementsByName('pass').value='';
        document.getElementsByName('cpass').value='';      
        this.RegisterForm.name='';
        this.RegisterForm.email='';
        this.RegisterForm.pass='';
        this.RegisterForm.cpass='';
    },
    showErrorMessage(errors){
        if(errors.length > 0){
          document.getElementById('msg').innerHTML=errors.length ? _.join(errors,''):'';document.getElementById('msg').classList.add("alert-danger");
          setTimeout(function(){ document.getElementById('msg').innerHTML='';document.getElementById('msg').classList.remove("alert-danger"); }, 5000);
        }          
      },
    showSuccessMessage(Msg){
        if(Msg.length > 0){
          document.getElementById('msg').innerHTML=Msg;document.getElementById('msg').classList.add("alert-success");
          setTimeout(function(){ document.getElementById('msg').innerHTML='';document.getElementById('msg').classList.remove("alert-success"); }, 5000);
          this.clearRegistration();
        }          
    },
    validEmail: function (email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
    redirectToLogin(){
       this.$router.push({ name: 'Login' });
    },
    register(){
      let errors = [];
      
      if (!this.RegisterForm.name) {
        errors.push('<label class="font-weight-bold form-control custom_label text-danger">Name required.</label>');
      }

      if (!this.RegisterForm.email) {
        errors.push('<label class="font-weight-bold form-control custom_label text-danger">Email required.</label>');
      }
      //  else if (!this.validEmail(this.RegisterForm.email)) {
      //   errors.push('<label class="font-weight-bold form-control custom_label text-danger">Valid email required.</label>');
      // }
      if (!this.RegisterForm.pass) {
        errors.push('<label class="font-weight-bold form-control custom_label text-danger">Password required.</label>');
      }
      if(!this.RegisterForm.c_pass){
        errors.push('<lable class="font-weight-bold form-control custom_label text-danger">Repeat Password required.</label>');
      }else if(this.RegisterForm.c_pass!=this.RegisterForm.pass){
        errors.push('<label class="font-weight-bold form-control custom_label text-danger">Repeat Password must match with Password</label>');
      }
      this.showErrorMessage(errors);
      if(errors.length==0){
        OAuth.register(this.RegisterForm).then(response => {
            if(response){
              this.showSuccessMessage('<label class="font-weight-bold form-control custom_label text-success">Registered Successfully.</label>');
            }else{              
              this.showErrorMessage(response); 
            }
        },(error) => {
          let errorObj = error.response.data;
            if(!_.isEmpty(errorObj)){
              error =[];
              _.transform(errorObj, function(result, value, key){
                    if(!_.isEmpty(value.email)) error.push(`<label class="font-weight-bold form-control custom_label text-danger">${value.email[0]}</label>`);
                    if(!_.isEmpty(value.pass)) error.push(`<label class="font-weight-bold form-control custom_label text-danger">${value.pass[0]}</label>`);
                    if(!_.isEmpty(value._cpass)) error.push(`<label class="font-weight-bold form-control custom_label text-danger">${value._cpass[0]}</label>`);
                    if(!_.isEmpty(value.name)) error.push(`<label class="font-weight-bold form-control custom_label text-danger">${value.name[0]}</label>`);
              }, {});
                this.showErrorMessage(error); 
            }
        });
      }      
    }
  }
}

</script>
