<template>
  <CFooter :fixed="false">
    <div>
      <span class="ml-1">&copy; {{new Date().getFullYear()}} Helix Health.</span>
    </div>
    <div class="ml-auto">
  
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
