<template>
  <CDropdown
    inNav
    class="c-header-nav-items"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
        <div class="c-avatar">
          <img
            src="img/avatars/6.jpg"
            class="c-avatar-img "
          />
        </div>
      </CHeaderNavLink>
    </template>   
    <CDropdownHeader
      tag="div"
      class="text-center"
      color="light"
    >
      <strong>Settings</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <CIcon name="cil-user" /> Profile
    </CDropdownItem>
    <CDropdownItem  v-on:click.self="logout">
      <CIcon name="cil-lock-locked" /> Logout
    </CDropdownItem>
  </CDropdown>
</template>

<script>
import OAuth from '@/common/oauth/OAuth';
import { User } from '@/common/model/User';
import defineAbilityFor from '@/common/oauth/ability';
import jQuery from 'jquery';
import _ from 'lodash';
import { mapActions } from 'vuex';
export default {
  name: 'TheHeaderDropdownAccnt',
  data () {
    return { 
      itemsCount: 42
    }
  },
  methods: {
      logout(){     
        OAuth.logout().then(() => {
          this.$router.push("/login");
        });    
    }
  }

}
</script>

<style scoped>
  .c-icon {
    margin-right: 0.3rem;
  }
</style>